@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-image: linear-gradient(45deg,#212A3E, black);
    overflow-x: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/************************Navbar************************/

#navbar, ul {
    list-style: none;
}

#navbar, a {
    text-decoration: none;
    color: #F1F6F9;
    font-weight: bold;
}

.nav-logo {
    font-size: 1.2rem;
    color: #f0e4e4;
}

.mobileMenuTrigger {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mobileMenuTrigger div {
    width: 30px;
    height: 3px;
    background-color: #F0E3E3;
    margin: 5px;
    border-radius: 5px;;
}

.nav-logo-container {
    /* border: solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.nav-links {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 30px 0px 30px;
    align-items: center;
}

.nav-links li {
    padding-bottom: 10px;
}

.nav-socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 1.5rem;
}

.nav-socials a:hover {
    transform: translateY(2px);
}

/* 32:30 box-shadow...*/

.nav-links-container {
    /*Hiding content of nav-links-container so it is only visible when the mobileMenuTrigger button is clicked*/
    max-height: 0;
    overflow-y: hidden;
    transition: 0.5s ease-in-out;
}

/*36.37 menu becomes X to close*/

.active {
    max-height: 2000px;
    
}

.nav-links a:hover {
    padding-bottom: 5px;
    color: #edd6d6;
    transition: all .2s ease-in;
   
    border-bottom: 0.5px solid #F1F6F9;
}




@media  screen and (min-width: 700px) {

    .nav-logo-container {
        justify-content: center;
        padding: 35px 0px 10px;
    }

    .mobileMenuTrigger {
        display: none;
    }

    .nav-links-container {
        max-height: none;
    }

    .nav-links {
        flex-direction: row;
        justify-content: center;
    }

    .nav-links li {
        padding: 0;
    }

    .nav-socials {
        padding-bottom: 25px;
    }     
}

@media screen and (min-width: 820px) {
    #navbar {
        display: flex;
        justify-content: space-between;
        padding: 15px 30px;
    }

    .nav-logo-container {
        padding: 0px;
        
        
    }

    .nav-links-container {
        display: flex;
        width: 100%;
       
        
    }

    .nav-links {
        /* border:solid; */
        flex: 1;
    }

    .nav-socials {
        /* border: solid; */
        align-items: center;
        padding-bottom: 0px;
    }
    
}

.nav-socials i:hover{
    color: #F0E3E3;
    /* transform: scale(1.2); */
}


/****************************HOME*********************/

#home {
    padding: 150px 50px;
}

.home-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.home-text-container h1 {
    font-size: 3.5rem;
    color: #F1F6F9;
    width: 100%;
    letter-spacing: 2px;
    animation: text 1.5s 1;
    position: relative;
    -webkit-text-stroke: 0.1vw #F0E3E3;  
     
}

@media screen and (max-width: 800px) {
    .home-text-container h1 {
        font-size: calc(2rem + 2vw);
    }
}

.highlight-name {
    color: #dbb6b6;
    -webkit-text-stroke:0.1vw #eec6c6;
    
}

.home-text-container h3 {
    padding:20px;
    font-size: 1rem;
    font-weight: lighter;
    color: #9BA4B5;
    width: 100%;
    letter-spacing: 1px;
    visibility: hidden;
    animation: revealText 1s 1 1.5s forwards; /* Delayed animation for h3 */
}



@media screen and (min-width: 800px) {
    @keyframes text {
        0%{
            letter-spacing: 2px;
            margin-bottom: -40px;
        }
    
        40%{
            letter-spacing: 8px;
            margin-bottom: -40px;
        }
    }
}


@keyframes revealText {
    to {
        visibility: visible;
    }
}

.home-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding: 5px 30px;
    flex-wrap: wrap;
}

.resume-btn, .contact-btn {
    cursor: pointer;
    padding: 15px 20px;
    min-width: 150px;
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
    background-color: #394867;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    color:#F1F6F9;
    font-weight: bold;
    
}

.resume-btn:hover, .contact-btn:hover {
    /* border-bottom: 1px solid #517089; */
    background-color: #48546c;
}

@media screen and (max-width: 600px) {
    .home-buttons-container {
        justify-content: center; 
    }
}

.cat-walking {
    justify-content: center;
    background-image: url('../images/cat_tiles.png');
    width: 400px;
    height: 200px;
    margin: 50px auto 0;
    animation: walk 1.5s steps(12) infinite;
}

@keyframes walk {
    from{
        background-position: 0 0;
    }
    to {
        background-position: 0 -2391px;
    }
}

@media screen and (max-width: 500px) {
    .cat-walking {
        display: none;
    }
    
}




/**********************************ABOUT***************************/

#about {
    margin: 0px 40px; 
    padding-bottom: 140px;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 1000px) {
   #about {
    margin: 0 250px;  
   } 
}

#about h1 {
    font-size: 2.7rem;
    color: #fde0e6;
    text-align: left;
    font-weight: bolder;
    width: 100%;
}

#about .education {
    flex: 1;
    text-align: justify;
    padding-top: 70px;
    padding-bottom: 40px;
    color: #9BA4B5; 
    font-weight: normal;
    font-size: 1.1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about .education b {
    color: #F1F6F9;
} 

@media screen and (max-width: 600px) {
    #about h1 {
        font-size: calc(1.4rem + 2vw);
    }
    #about .education {
        font-size: calc(0.4rem + 2vw);
    }
    #about {
        padding-bottom: 20px;
    }
}

.languages-grid-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
}

.language-logo {
    width: 100%;
    max-width: 90px;
    padding: 5px 20px;
    background-color: #586177;
    border-radius: 10px;
    transition: opacity 0.3s ease-in-out;
}

.language-logo:hover {
    opacity: 0.6;
    box-shadow: 15px #161c29;
}






/********************************WORK*******************************/




#work {
    /* margin: 0px 70px; */
    margin: 0px 40px; 
    padding-bottom: 140px;
}

@media screen and (min-width: 1000px) {
    #work {
     margin: 0 250px;  
    } 
 }
 
#work h1 {
   padding-bottom: 30px;
    font-size: 2.7rem;
    color: #fde0e6;
    text-align: left;
    font-weight: bolder;
    position: relative;
    overflow: hidden;  
}

#work h2{
    color: #F1F6F9;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.6rem;
    letter-spacing: 1px;
    
}

.company-name {
    color: #F1F6F9;
}

#work h4 {
    font-size: 1rem;
    color: #9BA4B5;
    padding-bottom: 30px;
}

.work-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:justify
}

.work-description li {
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23F0E3E3"><g transform="translate(0, 5)"><path d="M21 12 3 19l4-7-4-7 18 7z"></path></g></svg>');
    color: #9BA4B5;
    margin-left: 20px;
    padding-left: 2rem;
}

.work-description li::marker {
    font-size: 2rem;
    line-height: 1.5;
}


@media screen and (max-width: 600px) {
    #work h1 {
        font-size: calc(1.4rem + 2vw);
    }
    #work h2 {
        font-size: calc(0.5rem + 2vw);
    }

    #work h4 {
        font-size: calc(0.4rem + 2vw);
    }

}



/**************************PROJECTS***************************/


#projects {
    /* margin: 0px 70px; */
    margin: 0px 40px; 
    padding-bottom: 140px;
}

@media screen and (min-width: 1000px) {
    #projects {
     margin: 0 250px;  
    } 
 }
 
#projects h1 {
    padding-bottom: 50px;
    font-size: 2.7rem;
    /* color: #F0E3E3; */
    color: #fde0e6;
    text-align: left;
    font-weight: bolder;
    /* position: relative; */
    overflow: hidden; 
    display: inline-block;
    /* animation: typing 2s steps(15), */
                /* cursor .4s step-end infinite alternate; */
}

/*cursor blinking*/
@keyframes cursor {
    50% {
        border-color: transparent;
    } 
}

/*typing effect*/
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.projects-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.projectCard {
    
    /* background-color: #394867; */
    background-color: rgba(33, 42, 62, 10);
    padding: 20px 20px;
    max-width: 500px;
    border: 10px;
    border-radius: 10px;
    min-height: 300px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    
}

.projectCard:hover{
    transform: translateY(-8px);
    background-color: #4d5972;
    /* -webkit-box-shadow:0 0 5px rgb(234, 234, 239);  */
}

.projectCard h2 {
    color: #F1F6F9;
    text-align: left;
    margin: 0 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 1.6rem;
}

.projectCard h4 {
    text-align: left;
    color: #F1F6F9;
    font-weight: lighter;
    padding-bottom: 1.5rem;
    margin: 0 10px;
    
}

.projectCard h3 {
    text-align: left;
    padding-bottom: 2rem;
    margin: 0 10px;
    color: #9BA4B5;
    font-weight: normal;
    font-size: 1rem;
    text-align: justify;
}

.projectCard h3:hover{
    color: #b7c1d4;
}

.project-card-links {
    display: flex;
    font-size: 1.5rem;
    gap: 1rem;
    margin-left: 10px;
    padding-bottom: 20px;
}

.project-card-links i {
    color: #BFCFE7;
}

.project-card-links i:hover {
    color: #F8EDFF;
    transform: translateY(2px);
}

@media screen and (max-width: 600px) {
    #projects h1 {
        font-size: calc(1.4rem + 2vw);
    }

    .projectCard h2 {
        font-size: calc(1.2rem + 2vw);
    }

    .projectCard h4 {
        font-size: calc(0.4rem + 2vw);
    }

}




/*************************FOOTER**************************/
#footer {
    margin: 0px 40px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#footer p {
    color: #c9d8df;
    font-size: 1rem;
}

#footer span {
    font-size: 0.9rem;
    color: #c9d8df;
}

#footer a:hover {
    color: #c9d8df;
}

