#work {
    margin: 0px 40px;
    padding-bottom: 140px;

    /*to give that translating effect when scroll*/
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.5s, transform 1.5s;
}

/*to give that translating effect when scroll (anything of class .animate-in*/
#work.animate-in {
    opacity: 1;
    transform: translateX(0);
}

#work h1.animate-in,
#work h2.animate-in,
#work h4.animate-in,
#work .work-description.animate-in {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 0.5s, transform 1.5s;
}

#work h1.animate-in,
#work h2.animate-in,
#work h4.animate-in,
#work .work-description.animate-in {
    opacity: 1;
    transform: translateX(0);
}



@media screen and (min-width: 1000px) {
    #work {
     margin: 0 250px;  
    } 
 }
 
#work h1 {
   padding-bottom: 30px;
    font-size: 2.7rem;
    color: #fde0e6;
    text-align: left;
    font-weight: bolder;
    position: relative;
    overflow: hidden;  
}

#work h2{
    color: #F1F6F9;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1.6rem;
    letter-spacing: 1px;
    
}

.company-name {
    color: #F1F6F9;
}

#work h4 {
    font-size: 1rem;
    color: #9BA4B5;
    padding-bottom: 30px;
}

.work-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:justify
}

.work-description li {
    list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23F0E3E3"><g transform="translate(0, 5)"><path d="M21 12 3 19l4-7-4-7 18 7z"></path></g></svg>');
    color: #9BA4B5;
    margin-left: 20px;
    padding-left: 2rem;
}

.work-description li::marker {
    font-size: 2rem;
    line-height: 1.5;
    color: #fde0e6;
}


@media screen and (max-width: 600px) {
    #work h1 {
        font-size: calc(1.4rem + 2vw);
    }
    #work h2 {
        font-size: calc(0.5rem + 2vw);
    }

    #work h4 {
        font-size: calc(0.4rem + 2vw);
    }

}